html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;
}

body,
.countdown h1,
.countdown p,
.countdown .button {
  transition: all 0.2s ease-in-out;
}

body.light-theme {
  background-color: #151515;
}

body.light-theme .countdown h1 {
  color: #ffffff;
}

body.light-theme .countdown p {
  color: #ffffff;
}

body.light-theme .buttons .button {
  color: #151515;
  border-color: #ffffff;
}

body.light-theme .buttons .button:hover {
  color: #151515;
  background-color: #ffffff;
}

.countdown {
  font-family: "Roboto", sans-serif;
  /*20250524 width: 550px; */
  height: 378px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.countdown .flipdown {
  margin: auto;
}

.countdown h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.countdown p {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 35px;
}

.countdown .buttons {
  width: 100%;
  height: 50px;
  margin: 50px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.countdown .buttons p {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 0px 25px 0px 0px;
  color: #333;
  margin: 0px;
}

.countdown .button {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  line-height: 46px;
  text-decoration: none;
  color: #333;
  padding: 0px 20px;
  border: solid 2px #333;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.countdown .button:hover {
  background-color: #333;
  color: #fff;
}

.countdown .button i {
  margin-right: 5px;
}

@media (max-width: 550px) {
  .countdown {
    width: 100%;
    height: 362px;
  }

  .countdown h1 {
    font-size: 2.5em;
  }

  .countdown p {
    margin-bottom: 25px;
  }

  .countdown .buttons {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    display: block;
  }

  .countdown .buttons p,
  .countdown .buttons a {
    float: none;
    margin: 0 auto;
  }

  .countdown .buttons p {
    padding-right: 0px;
  }

  .countdown .buttons a {
    display: inline-block;
  }
}
